modules = ["web"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start Real Server"

[[workflows.workflow]]
name = "Start PWA Server"
author = 44566751
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 -m http.server 5000 --bind 0.0.0.0"

[[workflows.workflow]]
name = "Start Real Server"
author = 44566751
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python -m http.server 5000 --bind 0.0.0.0"
